<header>
  <nav class="mnu navbar-light">
    <div class="logo" id="logo">
      <h1><a href="/">මවු පදවිය</a></h1>
    </div>
    <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
    <input type="checkbox" id="drop">
    <ul class="menu">

<!--      <li class="mr-lg-4 mr-3 active"><a href="index.html">පමවු පදවිය</a></li>-->
      <li class="mr-lg-4 mr-3"><a href="/purwaGarbani">පුර්ව-ගර්භණී-කාලය</a></li>
      <li class="mr-lg-4 mr-3"><a href="/garbani">ගර්භණී-කාලය</a></li>
      <li class="mr-lg-4 mr-3"><a href="/bilida">අලුත උපන් බිලිදා</a></li>
      <li class="mr-lg-4 mr-3"><a href="/punchiPutha">පුන්චි පුතා දැන් හුරතල්</a></li>
      <li class="mr-lg-4 mr-3"><a href="/nalaviliGee">නැලවිලි ගි</a></li>
      <li class="mr-lg-4 mr-3"><a href="/post">posts</a></li>

<!--      <li class="mr-lg-4 mr-3">-->
<!--        &lt;!&ndash; First Tier Drop Down &ndash;&gt;-->
<!--        <label for="drop-2" class="toggle">Drop Down <span class="fa fa-angle-down" aria-hidden="true"></span> </label>-->
<!--        <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>-->
<!--        <input type="checkbox" id="drop-2" />-->
<!--        <ul>-->
<!--          <li><a href="services.html">පුන්චි පුතා දැන් හුරතල්</a>-->
<!--          </li>-->

<!--          <li><a href="gallery.html">නැලවිලි ගි</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->

      <li><a routerLink="/contact">Contact Us</a></li>
    </ul>
  </nav>
</header>
<!-- //header -->
